@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --azul-primario: #004aad;
  --azul-secundario: #1e5bb8;
  --amareloescuro: #f4c430;
  --verde-institucional: #43b143;
  --cinza-claro: #f5f7fa;
  --branco: #ffffff;
  --verde-agua-claro: #cfe9df;
}

.background-fundo {
  background: var(--cinza-claro);
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.conecte {
  background-color: var(--azul-primario);
  color: var(--branco);
  font-size: 20px;
  width: auto;     
  height: auto; 
  padding: 12px 28px;
  border-radius: 10%;
  

}


.logo img {
  width: 50%;
  height: 75%;
}

.ul {
  display: flex;
  align-items: center;

}

.ul li {
  margin: 0 35px;
  font-size: 15px;

}

.ul li a {
  color: var(--azul-secundario);
  font-weight: 600;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.main-texto {
  width: 50%;
  color: var(--verde-institucional)
}

.main-texto h1 {
  font-size: 4.5rem;
}

.main-texto div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-imagem {
  width: 50%;
}

.main-imagem img {
  width: 100%;
  border-radius: 15%;
  padding: 20px;
}

.menu img {
  display: none;
  width: 20%;
  height: 20%;
  position: relative;
  z-index: 1000;
}

.resultados{
  background: var(--azul-primario);
}
.resultados .container {
display: flex;
align-items: center;
justify-content: space-between;
}

.resultados .resultado-texto{
  color: var(--amareloescuro);
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  padding: 50px 0px;
}

.projeto .container{
  display: flex;
  align-items: center;
}

.projeto .conecta img{
  width: 85%;
  
  border-radius: 10px;
}



.projeto .conecta-texto{
  width: 50%;
  padding: 68px;
}

.projeto .conecta-texto h2{
  font-size: 2.0rem;
}

.projeto .conecta-texto p{
  margin: 20px 0;
  text-align: justify;
}

.projeto .casa-texto p b{
  color: black;
  
}


.projeto .conecta-texto  h6{
  font-size: 0.80rem;
  color: var(--azul-secundario);
}

.projeto .conecta-texto .conecte {
  display: inline-block;
  background-color: var(--azul-primario);
  color: var(--branco);
  font-size: 20px;
  padding: 12px 28px;
  border-radius: 10%;
  width: auto;     
  height: auto;    
}



.card-item h4{
  font-size: 2.5rem;
  color: var(--verde-institucional);

}

.missao .cards{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  
}

.missao .cards .card-item{
  width: 30%;
  text-align: center;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0px 35px 97px -15px rgba(0, 104, 22, 0.4);
}

.fale-conosco{
  background-color: var(--verde-agua-claro);
  padding: 50px;
}

.fale-conosco .fale{
  text-align: center;
  padding: 100px;
  background: var(--cinza-claro);
  border: 1px solid #e5e7eb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: none;
}

.fale-conosco h2{
  font-size: 2.5rem;
}

 .fale-conosco p{
  margin: 13px 0;
}

.fale-conosco input,select, textarea {
  width: 35%;
  padding: 15px;
   box-shadow: 0 0 10px rgba(0, 104, 22, 0.4);;
  border-radius: 15px;
  border: none;
    margin-bottom: 8px;
}

.fale-conosco button{
  background-color: var(--azul-primario);
  color: var(--branco);
  font-size: 20px;
  width: 35%; 
  padding: 15px;
  border-radius: 15px;
  border: none;
 
}

footer{
  background-color: var(--azul-primario);
}

footer .container {
  display: flex;
  color: var(--amareloescuro);
  justify-content: space-between;
}

footer .container ul{
  width: 25%;
  padding: 50px;
}

footer .container h3{
  margin-bottom: 16px;
  font-weight: 600;
  color: var(--branco);
}

footer .container ul > p{
  margin-bottom: 50px;
}

footer .container li{
  margin: 10px 0;
}

footer .container a{
  color: var(--branco);
}

footer .container ul img{
  width: 100%;
}

.chatbot-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: var(--amareloescuro);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 9999;
}

.chatbot-container {
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 270px;
  background: #e6edf2;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.18);
  overflow: hidden;
  display: none;
  z-index: 9999;
}

.chatbot-header {
  background: var(--azul-primario);
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
}

.chatbot-body {
  padding: 14px;
}

.chat-option {
  width: 100%;
  background: white;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #35506b;
  cursor: pointer;
}

@media (max-width: 960px) {
  .menu img {
    display: block;
    margin: 0 auto;
  }

  .ul {
    position: fixed;
    background: var(--cinza-claro);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
  }
.ul li {
  font-size: 20px;
  margin: 20px 0;
}
  .ul.ativo {
    left: 0;
  }
  main .container{
    flex-direction: column;
  }
  main .container .main-imagem,
  main .container .main-texto{
    width: 100%;
    text-align: center;
  }
  main .container .main-texto h1{
font-size: 4rem;
  }
  main .container .main-texto div{
    justify-content: center
  }
  .resultados .container{
    flex-direction: column;
  }
  .resultados .resultado-texto{
    text-align: center;
    width: 100%;
  }
  
  .projeto .container{
    flex-direction: column-reverse;
  }
  .projeto .container .conecta-texto {
    width: 100%;
    align-items: center;
  }
   .projeto .container .conecta {
    width: 100%;
   }
   .projeto .container .conecta-texto {
     padding: 5px 5px;
    font-size: 15px;
    margin: 0px, 5px;
   }
   .projeto .container .conecta-texto .button{
      padding: 5px 5px;
    font-size: 15px;
   }

   #videoConecta {
    width: 100%;
   }

   .missao .cards{
    flex-direction: column;
   }
   .missao .cards .card-item{
    width: 100%;
    margin-top: 50px;
   }
 .fale-conosco{
    padding: 20px;
  }

  .fale-conosco .fale{
    padding: 30px 20px;  
  }

  .fale-conosco input,
  .fale-conosco select,
  .fale-conosco textarea,
  .fale-conosco button{
    width: 80%;
    max-width: 100%;
  }
 .fale-conosco button{
    width: 75%;
  }

  footer .container{
    flex-direction: column;
  }
footer .container ul{
  width: 100%;
  margin-bottom: 30px;
}
}



@media (max-width:440px){
  main .container .main-texto h1{
    font-size: 3rem;
  }

 .conecte{
   padding: 6px 18px;
 }
  .projeto .container .conecta-texto {
     padding: 4px 4px;
    font-size: 10px;
   }
    .projeto .container .conecta-texto .conecte {
      padding: 6px 18px;
    
   }

.fale-conosco{
    padding: 20px;
  }

  .fale-conosco .fale{
    padding: 30px 20px;  
  }

  .fale-conosco input,
  .fale-conosco select,
  .fale-conosco textarea,
  .fale-conosco button{
    width: 100%;
    max-width: 100%;
  }
  .fale-conosco button{
    width: 100%;
    font-size: 12px;
    padding: 16px;
  }
  .fale-conosco h2{
  font-size: 1.5rem;
}

  .fale-conosco input::placeholder,
  .fale-conosco textarea::placeholder{
    font-size: 16px;
  }

  .projeto .conecta-texto p{
  font-size: 1.0rem;
}

}

@media (max-width:400px){
   .fale-conosco input::placeholder,
  .fale-conosco textarea::placeholder{
    font-size: 12px;
  }

}

